button{
    width: 100%;
    color: $white;
    border:none;
    border-radius: 5px;
    font-family: $body-font;
    box-shadow: $button-shadow;
    font-size: 1.0em;
    height: 44px;
    font-size: 22px;	
    font-weight: 800;	
    text-align: center;
    padding: 0px 8px;
    // margin: 0px 10px 0px 10px;
    box-sizing: border-box;
}

.green-button{
    background-color: $green
}

.red-button{
    background-color: $red
}

.grey-button{
    background-color: $gray
}

.blue-button{
    background-color: $blue
}

.disabled-button{
    border-radius: $button-disable-shadow;
    opacity: 0.5;
}

.small{
    height: 35px;
    font-size: 18px;
}