button{
    width: 100%;
    color: $white;
    border:none;
    border-radius: 5px;
    font-family: $body-font;
    box-shadow: $button-shadow;
    font-size: 1.0em;
    height: 44px;
    font-size: 22px;	
    font-weight: 800;	
    text-align: center;
<<<<<<< HEAD
}

.green-button{
    background-color: $green
}

.red-button{
    background-color: $red
}

.grey-button{
    background-color: $gray
}

.blue-button{
    background-color: $blue
}

.disabled-button{
    border-radius: $button-disable-shadow;
    opacity: 0.5;
=======
>>>>>>> bd814a98a14c2143004135b7d2a371420d10b94c
}