button {
    width: 100%;
    color: $white;
    border:none;
    border-radius: 5px;
    outline: none;
    font-family: $body-font;
    box-shadow: $button-shadow;
    font-size: 1.0em;
    height: 44px;
    font-size: 22px;	
    font-weight: 800;	
    text-align: center;
    padding: 0px 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.15s all ease-in-out;

    &:hover {
        box-shadow: $button-hover-shadow;
        transform: scale(1.015);
    }

    &:active {
        transform: scale(0.985)
    }
}

.green-button{
    background-color: $green
}

.red-button{
    background-color: $red
}

.gray-button{
    background-color: $gray
}

.blue-button{
    background-color: $blue
}

.disabled-button{
    border-radius: $button-disable-shadow;
    opacity: 0.5;
}

.small{
    height: 35px;
    font-size: 18px;
}