$body-font: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
$subheader-font: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
$header-font: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;

$input-shadow: 0px 2px 4px rgba(120,120,120,0.3);
$input-focus-shadow: 0px 3px 6px rgba(120,120,120,0.4);
$button-shadow: 0px 2px 4px rgba(0,31,73,0.85);
$button-disable-shadow: 0px 1px 2px rgba(0,31,73,0.85);

$black: #031123;
$gray: #AAAAAA;
$white: #FCFCFC;
$green: #7ED321;
$blue: #00A6EE;
$red: #F67575;

body {
  margin: 0px;
  padding: 20px;
  color: $black;
  font-family: $body-font;
}

h1 {
  font-family: $header-font;
  margin: 0px 0px 10px 0px;
}

h2 {
  padding: 0px;
  margin: 0px 0px 5px 0px;
  font-size: 18px;
  font-weight: 500;
  color: $gray;
  font-family: $subheader-font;
  text-transform: uppercase;
}

p {
  margin: 0px 0px 12px 0px;
  line-height: 120%;
}

/** import component styles here */
@import "components/icon/style.scss";
@import "components/input/style.scss";
@import "components/text/style.scss";
@import "components/button/style.scss";
@import "components/section/styles.scss";
