$body-font: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
$subheader-font: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
$header-font: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;

$input-shadow: 0px 2px 4px rgba(120,120,120,0.3);
$input-focus-shadow: 0px 3px 6px rgba(120,120,120,0.4);

$tile-shadow: 0 3px 8px 0 rgba(83,83,83,0.42);
$tile-hover-shadow: 0 4px 10px 0 rgba(83,83,83,0.70);

$button-shadow: 0px 2px 3px rgba(122,122,122,0.85);
$button-hover-shadow: 0px 2px 5px rgba(122,122,122,1.0);
$button-disable-shadow: 0px 1px 2px rgba(122,122,122,0.45);

$black: #031123;
$dark-gray: #666666;
$gray: #AAAAAA;
$white: #FCFCFC;
$green: #7ED321;
$blue: #1CA7EB;
$red: #F67575;

body {
  margin: 0px;
  color: $black;
  font-family: $body-font;
}

h1 {
  font-family: $header-font;
  margin: 0px 0px 10px 0px;
}

h2 {
  padding: 0px;
  margin: 0px 0px 5px 0px;
  font-size: 0.9em;
  font-weight: 500;
  color: $gray;
  font-family: $subheader-font;
  text-transform: uppercase;
}

p {
  margin: 0px 0px 12px 0px;
  line-height: 120%;
}

/** import component styles here */
@import "components/button/style";
@import "components/header/style";
@import "components/icon/style";
@import "components/image/style";
@import "components/input/style";
@import "components/section/style";
@import "components/tabs/style";
@import "components/text/style";
@import "components/tile/style";
@import "pages/style";
