.left-button {
  width: 54%;
  margin-right: 2%;
  display: inline-block;
}

.right-button {
  width: 44%;
  display: inline-block;
}

#delete-trip-button{
  display: inline-block;
}

#edit-trip-button{
  margin-right: 5px;
  display: inline-block;
}

.trip-header h2 {
  color: $black;
  display: inline-block;
  margin: 0px 10px 0px 0px;
  font-size: 20px;
  text-transform: lowercase;

}

.trip-header h1 {
  color: $green;
  margin: 0px 10px 0px 0px;
  font-weight: 500;
  display: inline-block;
}

#trip-buttons{
  float: right;
}

.container {
  padding: 20px;
}

.attend-button {
  width: 40%;
  right: 0px;
  transform: translateY(-50%);
  margin-right: 10px;
  z-index: 300;
  position: absolute;
}

.edit-delete-buttons {
  width: 50%;
  right: 0px;
  margin-right: 10px;
  transform: translateY(-50%);
  z-index: 300;
  position: absolute;
}

.members-wrapper {
  padding: 0px 0px 10px 0px;
}

div.error {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  color: $black;
  background: lighten(red, 40%);
}

div.success {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  color: $black;
  background: lighten(green, 60%);
}

.image-box {
  margin: 0px -20px;
}
