a div.base-tile span {
  text-decoration: underline black !important;
}

div.base-tile {
  background: #F8F8F8;
  border-radius: 5px;
  box-shadow: $tile-shadow;
  margin: 8px 0px 20px 0px;
  transition: 0.15s all ease-in-out;

  div.tile-inner-bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    div.tile-inner-bg-gradient {
      border-radius: 5px;
      height: 100%;
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: linear-gradient(rgba(30, 30, 30, 0) 60%, rgba(30, 30, 30, 1.0) 90%);
    }

    span {
      padding: 15px;
      font-size: 1.1em;
      font-weight: 300;
      letter-spacing: 1px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: $tile-hover-shadow;
    transform: scale(1.015);
  }
}

div.event-date {
  height: 100%;
  width: 30%;
  background-size: cover;
  background: $white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-left: 3px solid #F2F2F2;
  font-size: 30px;
  color: $black;
}

div.member-tile {
  width: 48%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;

  div.member-tile-inner {
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  div.member-picture {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;

    span {
      font-size: 1.7em;
      color: $dark-gray;
    }
  }

  div.member-details {
    height: 100%;
    width: 75%;
    line-height: 100%;
  }

  span.member-state {
    font-size: 0.8em;
    color: $dark-gray;
  }
}
