div.base-tile {
  background: #F8F8F8;
  border-radius: 5px;
  box-shadow: $tile-shadow;
  margin: 8px 0px 20px 0px;
  transition: 0.15s all ease-in-out;

  div.tile-inner-bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    div.tile-inner-bg-gradient {
      border-radius: 5px;
      height: 100%;
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: linear-gradient(rgba(30, 30, 30, 0) 60%, rgba(30, 30, 30, 1.0) 90%);
    }

    span {
      padding: 15px;
      font-size: 1.1em;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: $tile-hover-shadow;
    transform: scale(1.015);
  }
}
