input[type=text] {
  background: #FCFCFC;
  border: none;
  border-radius: 5px;
  box-shadow: $input-shadow;
  box-sizing: border-box;
  color: $black;
  font-family: $body-font;
  font-size: 1.0em;
  height: 34px;
  outline: none;
  padding: 0px 8px;
  transition: 0.1s all ease-in-out;
  width: 100%;

  &:focus {
    box-shadow: $input-focus-shadow;
  }
}

div.time-selector input[type=text] {
  max-width: 140px;
  text-align: center;
  text-transform: uppercase;
}

div.time-range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span.fas {
    vertical-align: middle;
    line-height: 34px;
  }
}